venv*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.pyc
.idea
.idea/*
mydjangoapp-qa/
.elasticbeanstalk/
__pycache__/
mydjangoapp/__pycache__/
polls/__pycache__/
polls/migrations/__pycache__/
